
body {
    font-family: Arial, sans-seriff;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 0;
    text-align: center;
}


#teamSelect{
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#teamInfo{ 
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:3px;
}

button:hover {
    background-color: #0056b3;
}

button{
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}


.container{
    width:400px;
    height:500px;
    margin:50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}